/* INDEX */
.nav-item {
    background-color: #f6be30 ;
    margin-right: 1rem;
    border-radius: 0.5rem;
    width: 8rem;
    text-align: center;
}

.nav-item :hover{
    background-color: #f68630;
}

.navbar-brand {
    width: 3rem;
}

section.carrusel {
    padding: 1rem;
    margin: 0 auto;
}

.cards{
    padding: 1rem;
}

.card-content {
    text-align: center;
}


.thumbnail img{
    display: block;
    border: 0;
    width: 100%;
    height: auto;
} 

.titulos{
    background-color: #f6be30;
    text-align:center;
}


.pie{
    color:#fff;
    background-color: #f6be30;
    text-align: center;
    padding: 30px;
}

.pie a {
    margin-right: 20px;
    text-decoration: none;
}


/* INDEX - FLEX */
.card{
    background-color:#fff;
    margin-bottom: 2em;
    width: 33%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* DEPARTAMENTOS */
div.grilla{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-gap: 20px;
        grid-template-areas:    " header       header    header"
                                "contenido1  contenido1   aside "
                                "contenido2  contenido2   aside "
                                "contenido3  contenido3   aside "
                                "contenido4  contenido4   contenido4"
                                "contenido5  contenido5   contenido5";
}

div.grilla .header {
    background-color: #f6be30;
    grid-area: header;
}

div.grilla .header .titulos-h3{
    height:100%;
}

div.grilla .contenido1 {
    background-color: #f6be30;
    grid-area: contenido1;
}

div.grilla .contenido2 {
    background-color: #f6be30;
    grid-area: contenido2;
}

div.grilla .contenido3 {
    background-color: #f6be30;
    grid-area: contenido3;
}

div.grilla .contenido4 {
    background-color: #f6be30;
    grid-area: contenido4;
    display: flex;
}

div.grilla .contenido5 {
    background-color: #f6be30;
    grid-area: contenido5;
    display: flex;
    padding-bottom: 6rem;
}

div.grilla .aside{
    background-color: #f6be30;
    grid-area: aside;
} 

.contenido1 img {
    padding: 1rem;
    width: 100%;
}

.contenido2 img {
    padding: 1rem;
    width: 100%;
}

.contenido3 img {
    padding: 1rem;
    width: 100%;
}

.aside ul {
    list-style-type: none;
    text-align: left;
    padding-top: 2rem;
    padding-left: 3rem;
}

.lista1, .lista2, .lista3 {
    flex: 1;
    margin:1rem;
    padding:1rem;
    list-style-type:square;
    list-style-position: inside;
    text-align: center;
}